aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
attrs==24.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==44.0.0
Deprecated==1.2.18
discord.py==2.4.0
feedparser==6.0.12
frozenlist==1.4.1
gTTS==2.5.4
h11==0.14.0
idna==3.10
iso8601==2.1.0
multidict==6.1.0
mutagen==1.47.0
numpy==2.2.2
opencv-python==4.11.0.86
outcome==1.3.0.post0
pillow==11.1.0
psutil==6.1.1
pycparser==2.22
pycryptodomex==3.20.0
PyGithub==2.5.0
PyJWT==2.10.1
PyNaCl==1.5.0
PySocks==1.7.1
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
selenium==4.27.1
sgmllib3k==1.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
trio==0.27.0
trio-websocket==0.11.1
twitchio==2.10.0
typing_extensions==4.12.2
urllib3==2.2.3
websocket-client==1.8.0
websockets==13.0.1
wrapt==1.17.2
wsproto==1.2.0
yarl==1.11.1
yt-dlp==2024.8.6
